/* commons css 2-index */

    body {
        margin: 0px;
        padding: 0px;
        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #484848;
    }

    .centered {
        position: absolute; 
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }